<table class="table" border="1px solid">
  <thead>
  <tr>
    <th scope="col">STT</th>
    <th scope="col">Verb</th>
    <th scope="col">Verb I</th>
    <th scope="col">Verb II</th>
    <th scope="col">Meaningful</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let verb of verbs; let i = index">

    <td>{{i+1}}</td>
    <td>{{verb.verb}} {{verb.spellingVerb}}</td>
    <td>{{verb.verb1}} {{verb.spellingVerb1}}</td>
    <td>{{verb.verb2}} {{verb.spellingVerb2}}</td>
    <td>{{verb.meaning}}</td>
  </tr>
  </tbody>
</table>
<img src="http://192.168.10.44:9000/test/18072020/1595060648511_images.jpeg">
